* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.body {
  font-size: 30px;
  overflow: hidden;
  color: black;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  display: flex; }

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../imgs/car.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }

.sidebar {
  position: fixed;
  width: 250px;
  height: 90%;
  background: #042331; }

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black; }

ul li:hover a {
  padding-left: 50px; }

.sidebar ul a i {
  margin-right: 16px; }

#check {
  display: none; }

label #btn, label #cancel {
  position: absolute;
  cursor: pointer;
  background: white;
  border-radius: 3px; }

.label #btn {
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px; }

.container2 {
  background-color: white;
  padding: 1rem; }

.container2 h2 {
  text-align: center;
  font-weight: bold;
  color: #080a63;
  margin-top: 50px;
  padding-bottom: 10px;
  text-transform: uppercase; }

.container2 h2::after {
  content: '';
  background: #071669;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px; }

.container2 p {
  text-align: center;
  font-weight: bold;
  color: #070606;
  align-items: center;
  padding: -5px auto;
  text-transform: uppercase; }

.servise {
  position: absolute;
  display: inline-block; }

.box {
  position: relative; }

.message h2 {
  text-align: center;
  font-weight: bold;
  color: #1f0faa;
  margin-top: 90px;
  padding-bottom: 10px;
  text-transform: uppercase; }

.message h2::after {
  content: '';
  background: #1f0ebb;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px; }

.message p {
  text-align: center;
  font-weight: bold;
  color: #070606;
  align-items: center;
  padding: -5px auto;
  text-transform: uppercase; }

.container3 {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  justify-content: space-evenly; }

.container3 .box {
  align-items: center;
  font-family: sans-serif;
  position: relative;
  width: 350px;
  padding: 30px 10px 20px 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 40px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center; }

.box:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  z-index: 2;
  pointer-events: none; }

.icon {
  position: relative;
  width: 80px;
  height: 80px;
  color: #fff;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700; }

.ph {
  border-radius: 50%;
  height: 5rem;
  width: 5rem; }

.content {
  position: relative;
  z-index: 1;
  transition: 10s; }

.content h2 {
  font-size: 20px;
  margin: 10px 0;
  padding: 0; }

.content p {
  margin: 0;
  padding: 0; }

a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(#a2a1ec, #0b1058); }
