*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body{
    font-size: 30px;
    overflow: hidden;
    color: black;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('../imgs/car.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.sidebar{
    position: fixed;
//    left: -250px;
    width: 250px;
    height: 90%;
    background: #042331;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid black;
}
ul li:hover a{
    padding-left: 50px;
}
.sidebar ul a i{
    margin-right: 16px;
}
#check{
    display: none;
}
label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    background: white;
    //background: #042331;
    border-radius: 3px;
}
.label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
}
.container2{
    background-color: rgb(255, 255, 255); 
    padding: 1rem;
}
.container2 h2{
    text-align: center;
    font-weight: bold;
    color: #080a63;
    margin-top: 50px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.container2 h2::after{
    content: '';
    background: #071669;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.container2 p{
    text-align: center;
    font-weight: bold;
    color: #070606;
    align-items: center;
    padding: -5px auto;
   // padding-bottom: 5px;
    text-transform: uppercase;
}
.servise{
    position: absolute;
    //width: 1100px;
    display: inline-block;
    //flex-wrap: wrap;
}
.box{
    position: relative;
   
}
.imgbx{
   // position: absolute;
   // display: inline;
}
.message h2{
    text-align: center;
    font-weight: bold;
    color: #1f0faa;
    margin-top: 90px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.message h2::after{
    content: '';
    background: #1f0ebb;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.message p{
    text-align: center;
    font-weight: bold;
    color: #070606;
    align-items: center;
    padding: -5px auto;
   // padding-bottom: 5px;
    text-transform: uppercase;
}
.container3{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: space-evenly;

}

.container3 .box{
    align-items: center;
    font-family: sans-serif;
    position: relative;
    width: 350px;
    padding: 30px 10px 20px 0;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border-radius: 4px;
    margin: 40px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    //display: inline;
} 
.box:before{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.2);
    z-index: 2;
    pointer-events: none;
}
.icon{
    position: relative;
   // background-image: url('../imgs/4.jpg');
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
}
.ph{
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
}

.content{
    position: relative;
    z-index: 1;
    transition: 10s;
}
//.box:hover{
//    color: #fff;
//}
.content h2{
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
}
.content p{
    margin: 0;
    padding: 0;
}
a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    background-image: linear-gradient(rgb(162, 161, 236),rgb(11, 16, 88));
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




